<div class="card mb-4 rounded-3 shadow-sm" [ngClass]="{'border-primary':priceData.isDefault}">
    <div class="card-header py-3" [ngClass]="{'text-white bg-primary border-primary':priceData.isDefault}">
      <h4 class="my-0 fw-normal">{{priceData.title}}</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">${{priceData.price}}<small class="text-muted fw-light">/mo</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li *ngFor="let list of priceData.features">
          <span *ngIf="list.isEnable == true">{{list.name}}</span>
        </li>
      </ul>
      <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
    </div>
  </div>